.page-not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    text-align: center;
    background-image: url('../Assets/paper.jpg');
}

.page-not-found-msg {
    font-size: 2rem;
    color: #555;
    margin-top: 10px;
}