.details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    border-radius: 10px;
    padding: 20px;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(30, 30, 30, 0.5);
    border-radius: 10px;
    color: white;
}

.detail-article-image {
    height: 30rem;
    width: auto;
}

.detail-article-title {
    text-align: center;
    width: 60rem;
    font-family: "Space Mono", monospace;
}

.detail-article-content {
    width: 50rem;
}

.home-button {
    margin-top: 2rem;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
    font-family: "Space Mono", monospace;
    font-weight: 800;
}

.home-button:hover {
    transform: scale(1.03);
    box-shadow: 0 7px 7px 7px rgba(255, 255, 255, 0.7);
}

@media (max-width: 750px) {
    .detail-article-image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .detail-article-title,
    .detail-article-content {
        font-size: 1rem;
        text-align: center;
        width: 90%;
    }

    .details-page {
        padding: 1rem;
        margin: 0.5rem;
    }
}