.news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    background-image: url('../Assets/paper.jpg');
}

.logo-link {
    text-decoration: none;
    color: black;
}

.search-section {
    margin-bottom: 2rem;
}

.search-bar {
    width: 20rem;
    height: 2rem;
    font-family: "Space Mono", monospace;
    font-weight: 800;
}

.logo {
    font-family: "UnifrakturCook", cursive;
    font-size: 7rem;
    font-weight: 100;
}

.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 70rem;
}

.article-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card {
    padding: 20px;
    background: rgb(30, 30, 30, 0.5);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 7px 7px 7px rgba(255, 255, 255, 0.7);
}

.title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: white;
    font-family: "Space Mono", monospace;

}

.description {
    font-size: 0.9rem;
    color: white;

}

.no-result-msg {
    color: black;
    text-align: center;
}

@media (max-width: 750px) {
    .article-image {
        width: 100%;
    }

    .logo {
        font-size: 3rem;
    }
}